03_MARCAS/UD5/XML Schema/schema5.XSD

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="producte">
        <xs:complexType>
            <xs:attribute name="quantitat" type="xs:positiveInteger" use="required" />
            <xs:attribute name="unitat">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="caixes" />
                        <xs:enumeration value="palets" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

</xs:schema>