PRIMERO/03_MARCAS/UD5/XML Schema/schema8.XSD

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="llistaclients">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="client" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nom" type="xs:string" minOccurs="0" />
                            <xs:element name="cognoms" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>